<%# encoding: utf-8 %>

<% @show_search_stuff = false %>
<% content_for :title, "Nova equipa :: GestãoEmergência" %>

<div class="white z-depth-2">
  <div class="row" style="margin: 20px; padding-bottom: 15px;">
    <%= render 'form' %>
  </div>
</div>