<%# encoding: utf-8 %>

<!--<h2>Sign up</h2>-->


<div class="row">
  <div class="col s8 m6 l4 offset-l4 offset-m3 offset-s2">
    <div class="card-panel">
        <!--<span class="white-text">I am a very simple card. I am good at containing small bits of information.-->
        <!--I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.-->
        <!--</span>-->

      <p style="font-size: 25px; text-align: center;">Bem vindo ao projeto <strong>GestãoEmergência</strong></p>
      <!--<span role="separator" class="divider"></span>-->

      <hr>
      <!--<p id="profile-name" class="profile-name-card"></p>-->

      <form class="form-signin">
        <!--<span id="reauth-email" class="reauth-email"></span>-->
        <input type="email" id="inputEmail" class="form-control" placeholder="Endereço de email" required autofocus>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>

        <div id="remember" class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Guardar dados
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit"
                onclick="window.location.href='index.html'">Confirmar
        </button>
      </form>
      <!-- /form -->
      <hr>
      <span>Não tem conta? Registe-se <a href="#" class="forgot-password">aqui!</a></span><br>
      <a href="#" class="forgot-password">Recuperar palavra-chave?</a>

    </div>
  </div>
</div>





