/* ------------------------------------------ */

label {
    font-size: 13px;
}

#team_map {
    height: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.brand-logo {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 300;
}

@media only screen and (max-width: 601px) {
    .navbar-button {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #page-title-center {
        margin-top: 10px;
    }
}

/* ------------------------------------------ */

.row.content {
    margin-bottom: 0 !important;
}

#tab-wrapper {
    background-color: rgba(255, 255, 255, 0.95) !important;
}

#left-nav {
    display: none;
}

.left-nav-visible {
    position: fixed;
    left: 0;
    top: 0;
    overflow: scroll;
    background: #fff;
    width: 240px;
    z-index: 10001;
    padding: 10px;
}

#toggle-menu {
    width: 100%;
}

#search {
    display: none;
    margin-bottom: 0;
}

#search form {
    margin: 0;
}

#search input {
    color: #ccc;
    border-bottom: 1px solid #333;
}

#search input:focus {
    box-shadow: none;
    border-bottom: 1px solid #00AE96;
}

@-moz-keyframes cursor-blink {
    from, to {
        background: transparent;
    }
    50% {
        background: #FC9639;
    }
}

@media only screen and (max-width: 600px) {
    nav img {
        margin-top: 3px;
    }

    #nav-back-btn a {
        padding-left: 0px;
    }

    #nav-search-btn a {
        padding-right: 0px;
    }

    #nav-add-edit-btn a {
        padding-left: 10px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    nav img {
        margin-top: 7px;
    }

    .hero {
        height: 400px;
    }

    #nav li:hover {
        background-color: #4db6ac;
    }

    #nav li.active {
        background-color: #4db6ac;
    }
}

@media only screen and (min-width: 992px) {
    nav img {
        margin-top: 15%;
    }

    .hero {
        height: 400px;
    }

    .dropdown-content.nav-dropdown {
        width: auto !important;
    }

    #toggle-menu {
        display: none;
    }

    #left-nav {
        display: block;
    }

    .left-menu {
        padding: 0 !important;
    }

    .menu-header {
        background: #23C5A0;
        padding: 5px;
        color: #fff;
        font-weight: bold;
        text-shadow: 1px 1px 0 #1B8C6B;
    }

    .menu-items {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .menu-items p {
        margin: 0;
        margin-top: 4px;
    }

    .menu-items a {
        width: auto;
        display: block;
        padding: 5px;
        padding-left: 20px;
        border: 1px solid transparent;
        text-decoration: none;
    }

    .menu-items a:hover, a.active {
        background: #fff;
        border: 1px solid #ccc;
    }

    .menu-items a:hover:not(.active) {
        background: rgba(255, 255, 255, 0.5);
        border-right: 1px solid #ccc;
    }
}

@media only screen and (min-width: 1100px) {
    footer .btn {
        display: inline-block;
    }
}
