/* ******************** WELCOME.HTML ******************** */

body, html {
    height: 100%;
    background: url('/assets/cais_ginjal_cacilhas_blurred.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    border-top: 1px solid #DCDCDC;
}