<%# encoding: utf-8 %>

<% @show_search_stuff = false %>
<% content_for :title, "Editar utilizador :: GestãoEmergência" %>
<% content_for :page_purpose, "Utilizadores" %>

<% content_for :back_page do %>
    <%= link_to user_path(@user), :data => {:position => 'bottom', :delay => '15',
                                      :tooltip => 'Voltar para o utilizador '+@user.id.to_s},
                class: 'tooltipped navbar-button', method: :get do %>
        <i class="material-icons md-36 white-text">arrow_back</i>
    <% end %>
<% end %>

<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>
