<%# encoding: utf-8 %>

<% @show_search_stuff = false %>
<% content_for :title, "Utilizadores :: GestãoEmergência" %>
<% content_for :page_purpose, "Utilizadores" %>

<% content_for :back_page do %>
    <%= link_to users_path, id: 'back-button', method: :get do %>
        <i class="material-icons md-36 white-text">arrow_back</i>
    <% end %>
<% end %>


<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>