<div id="about_modal" class="modal">
  <div class="modal-content">
    <h4>Sobre o projeto</h4>

    <p>
      Trabalho desenvolvido por <a href="http://pt.linkedin.com/in/rafaelbizarra" target="_blank">Rafael Bizarra</a>,
      aluno do mestrado integrado em Engenharia Informática (MIEI) na Faculdade de Ciências e Tecnologia da
      Universidade NOVA de Lisboa.
      <br>
      <br>
      Este trabalho é o resultado da minha dissertação de mestrado, cujo tema é <b>"LiveTeams: Gestão de Emergência
      online adaptativa pelo contexto"</b>, orientada pela prof.
      <a href="http://ctp.di.fct.unl.pt/~arodrigues/" target="_blank">Armanda Rodrigues.</a>
      <br>
      <br>
      Caso tenha alguma sugestão, pode entrar em contato comigo através desta
      <a class="" href="mailto:r.bizarra@campus.fct.unl.pt?Subject=[Contacto]%20LiveTeams%20Portugal" target="_top">
        ligação</a>.
      <br>
      O código fonte desta aplicação encontra-se no
      <a href="https://github.com/badaro42/TeseGestaoEmergencia" target="_blank">GitHub</a> (disponível brevemente).
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
  </div>
</div>