/* ******************** WELCOME.CSS ******************** */

label {
    font-size: 1rem !important;
    color: #000 !important;
}

body, html {
    height: 100%;
    background: url('/assets/cais_ginjal_cacilhas_blurred.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    border-top: 1px solid #DCDCDC;
}

.main-card {
    padding-bottom: 0;
    margin-top: 30px;
}

.project-title {
    margin-top: 5px;
    margin-bottom: 25px;
}

.nice-trick {
    margin: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    display: inline-block;
}


.white-btn {
    background-color: #FFFFFF !important;
    border: 1px solid lightgrey;
    color: grey;
}