/* ******************** INDEX.HTML ******************** */

html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* ********************* REGRAS PARA PERSONALIZAR OS ICONES DA GOOGLE ********************** */
/*Rules for sizing the icon.*/
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

/*Rules for using icons as black on a light background.*/
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

/*Rules for using icons as white on a dark background.*/
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

/* ******************************************************************************************* */

/* ********************* MODAL HEADER PERSONALIZADO (BASEADO NO FOOTER) ********************** */
.modal-header {
    position: absolute;
    height: 56px;
    left: 0;
    top: 0;
    width: 100%;
    background: #fafafa;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 56px;
}

.modal-header > h5 {
    line-height: 56px;
    margin: 0;
    padding-left: 36px;
}

.modal.modal-fixed-footer .modal-content {
    top: 56px;
    height: calc(100% - 112px);
}

/* ******************************************************************************************* */

/* ************************* OVERRIDE DO Z-INDEX DA SIDEBAR LATERAL ************************** */
.sidebar {
    z-index: 99;
    top: 74px;
}

/* ******************************************************************************************* */

/* ******************* USADO DA RODAR OS CONTROLOS DA CRIA��O DE ENTIDADES ******************* */
/* SMARTPHONES E ECRAS PEQUENOS */
@media only screen and (max-width: 600px) {
    .leaflet-bottom.leaflet-left {
        transform: rotate(90deg);
        left: 38px;
        bottom: -18px;
        z-index: 98;
    }

    .leaflet-draw {
        bottom: 22px;
        left: 29px;
    }

    #select_all_teams {
        padding: 0;
    }

    #select_no_teams {
        margin-top: 10px;
        padding: 0;
    }

    #entity_description_div {
        padding-bottom: 25px;
    }
}

/* TABLETS E ECRAS MEDIOS */
@media only screen and (min-width: 601px) and (max-width: 991px) {
    .leaflet-bottom.leaflet-left {
        transform: rotate(90deg);
        left: 38px;
        bottom: -18px;
        z-index: 98;
    }

    .leaflet-draw {
        bottom: 22px;
        left: 29px;
    }

    #select_all_teams {
        padding: 0;
    }

    #select_no_teams {
        margin-top: 10px;
        padding: 0;
    }

    #entity_description_div {
        padding-bottom: 25px;
    }

    .sidebar {
        width: 50%;
    }
}

/* DESKTOPS E ECRAS GRANDES */
@media only screen and (min-width: 992px) {
    .leaflet-bottom.leaflet-left {
        transform: rotate(90deg);
        left: 53px;
        bottom: -40px;
        z-index: 98;
    }

    #select_all_teams {
        padding-left: 0;
    }

    #select_no_teams {
        padding-right: 0;
    }

    #select_team_ids {
        height: 150px;
    }

    .sidebar {
        width: 40%;
    }
}

.leaflet-top.leaflet-left {
    z-index: 98;
}

.leaflet-draw-section a:first-child {
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.leaflet-draw-section a:last-child {
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #ccc;
}

.leaflet-draw-section a {
    border-left: 1px solid #ccc;
}

.leaflet-draw-actions.leaflet-draw-actions-bottom,
.leaflet-draw-actions.leaflet-draw-actions-top {
    left: -102px;
    bottom: 1px;
}

.leaflet-draw-actions.leaflet-draw-actions-bottom li,
.leaflet-draw-actions.leaflet-draw-actions-top li {
    transform: rotate(270deg);
}

.leaflet-draw-actions.leaflet-draw-actions-bottom a,
.leaflet-draw-actions.leaflet-draw-actions-top a {
    border-bottom: none;
    border-right: 1px solid #ccc;
}

/* ******************************************************************************************* */

/* ******************* RIBBON PARA INDICAR O CHEFE DA EQUIPA ******************* */
.corner-ribbon {
    width: 100px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky {
    position: fixed;
}

.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}

.corner-ribbon.top-right {
    top: 10px;
    right: -30px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* ******************************************************************************************* */

.collection-item.avatar p {
    padding: 0;
    line-height: 14px;
    font-size: 14px;
}

.collection-item.avatar p:first-child {
    padding: 3px 0 3px;
}

.collection .collection-item.avatar {
    min-height: 65px;
    background: #f8f8f8;
}

.card .card-content {
    padding-top: 10px;
}

.edit-team-btn {
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 4px;
}

.edit-team-btn > i {
    line-height: 36px;
    margin: 0;
}

.list_wrapper {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

#map {
    width: auto;
    height: calc(100% - 64px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#create_team_map,
#edit_team_map {
    /*width: auto;*/
    height: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* regras para ecras com no maximo 600px de largura */
@media only screen and (max-width: 600px) {

}

/* regras para ecras com no maximo 992px de largura */
@media (max-width: 992px) {

}

/* regras para ecras com no maximo 767px de largura */
@media (max-width: 767px) {

}

/* Print Handling */
@media print {
    .leaflet-control-container {
        display: none !important;
    }
}

#location_div {
    top: 10px;
    left: 10px;
    max-width: 450px;
    width: 60%;
    height: 40px;
    position: absolute;
    z-index: 98;
    background: white;
    font-size: 15px;
    border-radius: 2px;
    box-shadow: 1px 2px 5px -1px rgba(56, 56, 56, 1);
    /*max-width: 600px;*/
}

#curr_location {
    line-height: 40px;
    float: left;
    height: 40px;
    overflow: hidden;
}

#location_symbol {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
}

.extra-padding {
    padding-top: 8px;
}

.modal-element-title {
    font-weight: 200;
    font-size: 12px;
}


/*regras para o header da lista expansivel de equipas*/
.collapse_header_text {
    float: left;
    width: 90%;
    line-height: 1.5rem;
    display: inline-block;
}

.collapse_header_link {
    width: 10%;
    line-height: 1.5rem;
    display: inline-block;
}

.collapse_header_link > a {
    margin-top: 0;
}


/*css para aquele pequeno badge na barra lateral dos alertas*/
.badge1 {
    position: relative;
}

.badge1[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: 20px;
    right: 1px;
    font-size: 0.7em;
    background: green;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}


/*regras para os botoes das popups das entidades geograficas*/

.geo-popup-btn {
    padding-left: 20px;
    padding-right: 20px;
}